    <h2><a href="/"><i class="fas fa-code"></i>
        The Wine Cellar</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/wines">The Cellar</a>
        </li>
        <li>
          <a href="/wines/add">Add Wine</a>
        </li>   
      </ul>
    </nav>