<section id="login" class="container">
  <div class="form-wrap">
    <h1>Login Below!</h1>
    <form action="/login" method="POST">
      <div class="input-group">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          class="input-box"
          placeholder="Username"
          maxlength="100"
        />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="input-box"
          placeholder="Password"
          maxlength="100"
        />
      </div>
      <input type="submit" value="Add Beer" class="btn btn-reverse" />
    </form>
  </div>
</section>
