  <section id="search" class="search-wrap">
    <h1>Find A Wine</h1>
    <form action="/wines/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="___,___,___, etc...">
      <input type="submit" value="Search">
    </form>
  </section>