<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>
    <header class="inner"><%- include('../partials/head'); %></header>
    <div class="container"></div>
  </body>
</html>
